MONGO_URI=your_mongodb_atlas_connection_string
JWT_SECRET=your_jwt_secret
CLOUDINARY_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET_KEY=your_cloudinary_api_secret
SENDER_EMAIL=your_sender_email
BREVO_API_KEY=your_brevo_api_key
USER_FRONTEND_URL=https://your-user-frontend.vercel.app
ADMIN_FRONTEND_URL=https://your-admin-frontend.vercel.app
PORT=5000
